/* Home Page Styling */
.TextLarge {
  font-family: "Fira Sans Condensed", sans-serif;
}

a > img {
  position: relative;
  top: -3px;
}

.hover-activate {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.1em;
}
.hover:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.1em;
  /* padding-bottom: value; */
  /* border-bottom-style: solid; */
}

.section-1 {
  background-image: url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=2880,fit=crop/tixlyvnpr7/nynne-schroder-unsplash-A0xnbgZ4WxTJlN3R.jpg");
  background-position: center;
  background-size: 1400px 800px;
  background-repeat: no-repeat;
}

.CustomMargin {
  margin-top: 150px;
}

.hover-btn:hover {
  background-color: rgba(0, 0, 0, 0.689);
  transition: 0.5s;
}

.cards-btn {
  margin-top: -20px;
  z-index: 1;
  position: relative;
}

.cards-btn:hover {
  background-color: rgba(0, 0, 0, 0.689);
  transition: 0.5s;
}

.dis-btn:hover {
  background-color: rgba(0, 0, 0, 0.689);
  transition: 0.5s;
}

.fot-btn:hover {
  background-color: lightgray !important;
  color: black !important;
  transition: 0.5s !important;
}

/* Home Page Styling End */

/* Shop Page Styling Start */
.box {
  border: 1px solid lightgray;
}
/* Shop Page Styling End */

::placeholder{
  color: white;
  opacity: .5;
}

.bg-set{
  background-color: rgba(224, 224, 224, 0.744);
}

.full-hight{
  height: 100vh !important;
}